{% block body %}

    <table border="2px">
        <thead>
        <tr>
            <td>Curso</td>
            <td>Tutor</td>
        </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.descripcion }}</td>
                <td>{{ curso.tutor.nombre }} {{ curso.tutor.apellidos }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}